In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing 
from sklearn.svm import SVR
import pickle

In [ ]:
model = pickle.load(open("SVRmodel", 'rb'))
scaler = pickle.load(open("scaler", 'rb'))
lbe = pickle.load(open("laberEncoder", 'rb'))

In [ ]:
columns = ['working_hour', 'sprint', 'sprint_tasks_awaiting', 'tasks_completed','tasks_delayed', 'tasks_incomplete', 
           'team_score_avg', 'title']
df = pd.read_csv("new_data.csv")
ids = df['e_id']
df = df[columns]

In [ ]:
#label encoding
df["title"] = lbe.transform(df["title"])

In [ ]:
#scaling
df = pd.DataFrame(scaler.transform(df), columns = columns)

In [ ]:
y_pred = model.predict(df)

In [ ]:
y_pred = y_pred.astype(int)
enf = 0.5
y_pred = y_pred * (1+enf)
df = pd.DataFrame({'e_id': ids, 'salary': y_pred}, columns=['e_id', 'salary'])

     e_id  salary
0       7  6613.5
1      66  6628.5
2     100  6625.5
3      79  6613.5
4      10  6610.5
..    ...     ...
115    13  6616.5
116    80  6630.0
117    39  6624.0
118    68  6618.0
119    96  6621.0

[120 rows x 2 columns]

In [ ]:
pd.DataFrame(df).to_json("result.json")